KERNEL=="hidraw*", SUBSYSTEM=="hidraw", MODE="0666", TAG+="uaccess", TAG+="udev-acl"S
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="445a:1424", ATTRS{idProduct}=="XXXX", MODE="0660", GROUP="users", TAG+="uaccess", TAG+="udev-acl"
