
window {
    background-color: #1E2326;
    border-radius: 8px;
    border: #D3C6AA solid 2px;
}

#outer-box {
    margin: 8px;
    background-color: #1E2326;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 0;
    background-color: #3A464C;
    color: #D3C6AA;
    border-radius: 4px;
    border: #D3C6AA solid 1px;
}

#input:active, #input:focus, #input:selected {
    border: none;
}

#inner-box {
    margin: 16px;
}

#scroll {
}

#entry {
    margin: 4px;
    background-color: #3A464C;
    border-radius: 4px;
    border: #D3C6AA solid 1px;
}

#text {
    margin: 6px;
    color: #D3C6AA;
} 

#entry:selected {
    border: #D699B6 solid 2px;
}
